<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="assad-container">
        <div class="fullscreenbanner">
            <ul>
                <!-- SLIDE -->
                <li data-transition="none" data-slotamount="1" data-masterspeed="1000">
                    <!-- MAIN IMAGE -->
                    <img src="~/assets/img/sliders/revolution/Reol-02.jpeg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">

                    <!-- LAYERS -->
                    <div class="tp-caption rs-caption-1 sft start"
                         data-x="center"
                         data-hoffset="0"
                         data-y="100"
                         data-speed="800"
                         data-start="1500"
                         data-easing="Back.easeInOut"
                         data-endspeed="300">
                        Dine reol montage professionelle
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-2 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="200"
                         data-speed="1000"
                         data-start="2500"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        @*TEXT AL PACINO 2 <br>
                            TEXT AL PACINO 3*@
                    </div>

                    <!-- LAYER -->
                    <div class="tp-caption rs-caption-3 sft"
                         data-x="center"
                         data-hoffset="0"
                         data-y="360"
                         data-speed="800"
                         data-start="3500"
                         data-easing="Power4.easeOut"
                         data-endspeed="300"
                         data-endeasing="Power1.easeIn"
                         data-captionhidden="off"
                         style="z-index: 6">
                        <span class="page-scroll"><a href="#about" class="btn-u btn-brd btn-brd-hover btn-u-light">TEXT AL PACINO 4</a></span>
                        <span class="page-scroll"><a href="#portfolio" class="btn-u btn-brd btn-brd-hover btn-u-light">TEXT AL PACINO 5</a></span>

                    </div>
                </li>
            </ul>
            <div class="tp-bannertimer tp-bottom"></div>
            <div class="tp-dottedoverlay twoxtwo"></div>
        </div>
    </div>
</section>
<!-- End Intro Section -->
<!-- Services Section -->
<section id="services">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Services title</h2>
            <p>
                Some bullshit marketing text that nobody ever really reads
            </p>
        </div>

        <div class="row service-box-v1">
            <div class="col-md-4 col-sm-6">
                <div class="servive-block servive-block-default">
                    @*<i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>*@
                    <img class="img img-responsive img-center" src="~/assets/img/Box/Box1.jpg" />
                    <h2 class="heading-md">BOX 1 TITLE</h2>
                    <p>Some paragraph of text, lorem ipsum dorom.</p>
                    <ul class="list-unstyled">
                        <li>ROW1 BOX 1</li>
                        <li>ROW2 BOX 1</li>
                        <li>ROW3 BOX 1</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center" src="~/assets/img/Box/Box2.jpg" />
                    <h2 class="heading-sm">BOX 2 TITLE</h2>
                    <p>Sergiu is a picture man, he can only see in pictures</p>
                    <ul class="list-unstyled">
                        <li>ROW1 BOX 2</li>
                        <li>ROW2 BOX 2</li>
                        <li>ROW3 BOX 2</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center" src="~/assets/img/Box/Box2.jpg" />
                    <h2 class="heading-sm">BOX 3 TITLE</h2>
                    <p>Jobs that we did in different places with tricky part</p>
                    <ul class="list-unstyled">
                        <li>ROW1 BOX 3</li>
                        <li>ROW2 BOX 3</li>
                        <li>ROW3 BOX 3</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
<!--=== Cube-Portfolio ===-->

<section id="portfolio">
    <div class="cube-portfolio container margin-bottom-60">

        <div class="title-v1">
            <h2>Portfolio</h2>
            <p>
                Here is the awesome work we have done so far.
            </p>
        </div>

        <div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs">
                <div data-filter="*" class="cbp-filter-item-active cbp-filter-item"> All </div> |
                <div data-filter=".identity" class="cbp-filter-item"> Identity </div> |
                <div data-filter=".web-design" class="cbp-filter-item"> Web Design </div> |
                <div data-filter=".graphic" class="cbp-filter-item"> Graphic </div> |
                <div data-filter=".logos" class="cbp-filter-item"> Logo </div>
            </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img3.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    ince un
                                    <li><a href="assets/img/main/img3.jpg" class="cbp-lightbox" dtaa-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Soem text for this image</div>
                    <div class="cbp-l-grid-agency-desc">subtext for this image subtext for this image subtext for this image subtext for this image subtext for this image</div>
                </div>
            </div>
            <div class="cbp-item web-design logos">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img8.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img8.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 02</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic logos">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img9.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img9.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 03</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item web-design graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img10.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img10.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 04</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item identity web-design">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img11.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img11.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 05</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item identity web-design">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img12.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img12.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 06</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item web-design identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img18.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img18.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 07</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item identity logo">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img19.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img19.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 08</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">som</div>
                </div>
            </div>

        </div><!--/end Grid Container-->
    </div>
</section>
<!--=== End Cube-Portfdlio ===-->
<!--  About Section -->
<section id="about" class="about-section section-first">
    <div class="team content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>About section title</h2>
                <p>
                    About section paragraph
                </p>
            </div>

            <ul class="list-unstyled row">
                <li class="col-sm-4 col-xs-4 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="~/Content/Brumar_.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <h3>Pieter Greeffr</h3>
                    <h4>/ Ejer</h4>
                    <p>About section text sample 1</p>

                </li>
                <li class="col-sm-4 col-xs-4 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="img-responsive" src="~/Content/Brumar_.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <h3>Sergiu Brumar</h3>
                    <h4>/ Forretningskonsulent</h4>
                    <p>About section text sample 2</p>
                </li>
                <li class="col-sm-4 col-xs-4">
                    <div class="team-img">
                        <img class="img-responsive" src="~/Content/Talnaci_.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <h3>Sergiu Talnaci</h3>
                    <h4>/ Software Developer</h4>
                    <p>Best software developer in the world</p>
                </li>

            </ul>
        </div>
    </div>

</section>
<!--  About Section -->
<!-- Contact Section -->
<section id="contact" class="contacts-section">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Kontakt os</h2>
            <p>
                For mere information ring eller skriv til os.
            </p>
        </div>

        <div class="row contacts-in">
            <div class="col-md-6 md-margin-bottom-40">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i> Havtornsvej 12, 8200 Aarhus N </li>
                    <li><i class="fa fa-phone"></i> +45 29 87 37 29 </li>
                    <li><i class="fa fa-envelope"></i> <a href="info@example.com">sb@montpro.dk</a></li>

                </ul>
            </div>

            <div class="col-md-6">
                <form>
                    <label>Dit navn <span class="color-red" id="nameError" style="display:none">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" id="txtName">
                        </div>
                    </div>

                    <label>Din e-mail adresse <span class="color-red" id="emailError" style="display:none">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" id="txtEmail">
                        </div>
                    </div>

                    <label>Din besked <span class="color-red" id="messageError" style="display:none">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea rows="8" class="form-control" id="txtMessage"></textarea>
                        </div>
                    </div>

                    <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark" onclick="sendMessage()">Send message</button></p>
                </form>
            </div>
        </div>
    </div>

    <div class="copyright-section">
        <p>MontPro ApS CVR 35106766</p>
        @*<ul class="social-icons">
                <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
            </ul>*@
        <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
    </div>
</section>
<!-- End Contact Section -->
