<!-- Intro Section -->
<section id="intro" class="intro-section">
    <div class="row">
        <img class="img img-responsive" src="~/assets/img/sliders/revolution/Reol-02.jpeg" alt="slidebg1" data-bgfit="cover" data-bgposition="center center" data-bgrepeat="no-repeat">
    </div>
</section>
<!-- End Intro Section -->
<!-- Services Section -->
<section id="services"
         @*class="margin-top-100 bg-custom"*@
         >
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Vore ekspertise</h2>
            <p>
                MontPro har erfaring og kan hjælpe dig med alle typer reoler, mezzaniner og automatiske maskiner.
            </p>
        </div>

        <div class="row service-box-v1">
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    @*<i class="icon-custom icon-lg icon-bg-u rounded-x fa fa-lightbulb-o"></i>*@
                    <img class="img img-responsive img-center center-block" src="~/assets/img/Box/Box1.jpg" />
                    <h2 class="heading-md">Mezzaniner</h2>
                    <p>Mezzaniner kan anvendes til en lang række forskellige formål, som opbevaring af alle typer varer, paller og kasser eller øge kapaciteten på lægeren, ved at stille reoler op på mezzaninen.</p>
                    @*<ul class="list-unstyled">
                            <li>ROW1 BOX 1</li>
                            <li>ROW2 BOX 1</li>
                            <li>ROW3 BOX 1</li>
                        </ul>*@
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center center-block" src="~/assets/img/Box/Box2.jpg" />
                    <h2 class="heading-sm">Pallereoler</h2>
                    <p>Pallereoler giver dig mulighen til at bruge lægerpladsen meget effektiv. MontPro har meget erfaring med pallereoler på op til 25 meters længde. </p>
                    @*<ul class="list-unstyled">
                            <li>ROW1 BOX 2</li>
                            <li>ROW2 BOX 2</li>
                            <li>ROW3 BOX 2</li>
                        </ul>*@
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center center-block" src="~/assets/img/Box/box33.jpg" />
                    <h2 class="heading-sm">Dybdestablingsreoler</h2>
                    <p>Dybdestablingsreoler er ideelle til opbevaring af ensartede varer, hvor varene lagres bag hinanden på gennemgående bæreskinner.</p>
                    @*<ul class="list-unstyled">
                            <li>ROW1 BOX 3</li>
                            <li>ROW2 BOX 3</li>
                            <li>ROW3 BOX 3</li>
                        </ul>*@
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center center-block" src="~/assets/img/Box/Box4.jpg" />
                    <h2 class="heading-sm">Gennemløbsreoler</h2>
                    <p>Gennemløbsreoler er ideelle til mange ens paller, som lageres i kanaler med rullebaner.   </p>
                    @*<ul class="list-unstyled">
                            <li>ROW1 BOX 2</li>
                            <li>ROW2 BOX 2</li>
                            <li>ROW3 BOX 2</li>
                        </ul>*@
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center center-block" src="~/assets/img/Box/Box5.jpg" />
                    <h2 class="heading-sm">Grenreoler</h2>
                    <p>Grenreoler er et godt vælg til opbevaring af lange emner som træ, rør eller lignende.  </p>
                    @*<ul class="list-unstyled">
                            <li>ROW1 BOX 2</li>
                            <li>ROW2 BOX 2</li>
                            <li>ROW3 BOX 2</li>
                        </ul>*@
                </div>
            </div>
            <div class="col-md-4 col-sm-12">
                <div class="servive-block servive-block-default">
                    <img class="img img-responsive img-center center-block" src="~/assets/img/Box/Box6.jpg" />
                    <h2 class="heading-sm">Lager automater</h2>
                    <p>Lager automater giver virksomheder med mange varer muligheden til at organisere deres arbejdsprocesser med større fleksibilitet, effektivitet og ergonomi</p>
                    @*<ul class="list-unstyled">
                            <li>ROW1 BOX 2</li>
                            <li>ROW2 BOX 2</li>
                            <li>ROW3 BOX 2</li>
                        </ul>*@
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Services Section -->
<!--=== Cube-Portfolio ===-->

<section id="portfolio">
    <div class="cube-portfolio container margin-bottom-60">

        <div class="title-v1">
            <h2>Projekter</h2>
            <p>
                Nogle af vore projekter
            </p>
        </div>

        <div class="content-xs">
            <div id="filters-container" class="cbp-l-filters-text content-xs"> |
                <div data-filter=".identity" class="cbp-filter-item cbp-filter-item-active"> Abena </div> |
                <div data-filter=".web-design" class="cbp-filter-item"> Nissens </div> |
                <div data-filter=".graphic" class="cbp-filter-item"> Fynbo </div> |
                <div data-filter=".logos" class="cbp-filter-item"> Au2parts </div>
            </div><!--/end Filters Container-->
        </div>

        <div id="grid-container" class="cbp-l-grid-agency">
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena1.JPG" />
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena1.JPG" class="cbp-lightbox" dtaa-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 1</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena2.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena2.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 2</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena3.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena3.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 3</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena4.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena4.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 4</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena5.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena5.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 5</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena6.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena6.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 6</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena7.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena7.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 7</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item identity">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena8.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena8.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Pallereoler 8</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item web-design">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena8.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena8.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Dybdestablingsreoler 1</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item web-design">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/abena8.JPG" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/abena8.JPG" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Dybdestablingsreoler 2</div>
                    <div class="cbp-l-grid-agency-desc">------------- @*Identity*@ </div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">Web Design</div>
                </div>
            </div>
            <div class="cbp-item graphic">
                <div class="cbp-caption margin-bottom-20">
                    <div class="cbp-caption-defaultWrap">
                        <img src="~/assets/img/main/img20.jpg" alt="">
                    </div>
                    <div class="cbp-caption-activeWrap">
                        <div class="cbp-l-caption-alignCenter">
                            <div class="cbp-l-caption-body">
                                <ul class="link-captions no-bottom-space">
                                    <li><a href="~/assets/img/main/img20.jpg" class="cbp-lightbox" data-title="Design Object"><i class="rounded-x fa fa-search"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="cbp-title-dark">
                    <div class="cbp-l-grid-agency-title">Design Object 09</div>
                    <div class="cbp-l-grid-agency-desc">som</div>
                </div>
            </div>

        </div><!--/end Grid Container-->
    </div>
</section>
<!--=== End Cube-Portfdlio ===-->
<!--=== Customers ===-->
<section id="customers">
    <div class="bg-color-light">
        <div class="container content-sm">
            <div class="title-v1">
                <h2>Virksomheder</h2>

            </div>

            <div class="row">
                <div class="col-sm-12 col-md-6">
                    <!-- Testimonials v4 -->
                    <div class="testimonials-v4 md-margin-bottom-50">
                        <img class="rounded-x img-center center-block" src="~/assets/img/testimonials/Jørn Petersen.jpg" alt="thumb">
                        <span class="testimonials-author text-center center-block">
                            Jørn Petersen<br>
                            <em>Teknisk Lagerchef, <a href="#">Abena Logistik A/S</a></em>
                        </span>
                        <br />
                        <div class="testimonials-v4-in">
                            <p> Kommer snart</p>
                        </div>
                        <br />

                    </div>
                    <!-- End Testimonials v4 -->
                </div>
                <div class="col-sm-12 col-md-6">
                    <!-- Testimonials v4 -->
                    <div class="testimonials-v4">
                        <img class="rounded-x img-center center-block" src="~/assets/img/testimonials/No.jpg" alt="thumb">
                        <span class="testimonials-author text-center center-block">
                            Peter Møller<br>
                            <em>Afdelingsleder, <a href="#"> Nissens A/S</a></em>
                        </span>
                        <br />
                        <div class="testimonials-v4-in">
                            <p> Kommer snart</p>
                        </div>
                    </div>
                    <!-- End Testimonials v4 -->
                </div>
            </div><!--/end row-->
        </div><!--/end container-->
    </div>
</section>
<!--=== End Customers ===-->
<!-- Owl Clients v1 -->
<br />
<div class="container content-sm">
    <div class="owl-clients-v1 center-block">
        @*<div class="item">
            <img class="img-responsive" src="~/assets/img/clients/abena.png" alt="">
        </div>
        <div class="item">
            <img class="img-responsive" src="~/assets/img/clients/fynbo.png" alt="">
        </div>
        <div class="item">
            <img class="img-responsive" src="/assets/img/clients/nissens.png" alt="">
        </div>*@
        @*<div class="item">
                <img src="assets/img/clients4/4.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/5.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/6.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/7.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/8.png" alt="">
            </div>
            <div class="item">
                <img src="assets/img/clients4/9.png" alt="">
            </div>*@
    </div>
</div>
<!-- End Owl Clients v1 -->
<!--  About Section -->
<section id="about" class="about-section section-first">
    <div class="team content-lg">
        <div class="container">
            <div class="title-v1">
                <h2>Om MontPro</h2>
                <p>
                    MontPro er en virksomhed, som arbejder primært med montage og demontage af alle typer reoler, mezzaniner og automatiske maskiner. Vi har mange års erfaring i branchen og vore services rækker over hele Danmark. Uanset om du har brug for montering af nye reoler eller om du skal flytte gamle reoler, er MontPro altid klar til at hjælpe dig med at løse opgaven hurtigst muligt og professionelt. <br />
                    Vore kontor befinder sig i Aarhus og udover Danmark, betjenner vi også kunder i Norge, Sverige og Tyskland. <br />

                </p>
            </div>

            <ul class="list-unstyled row">
                <li class="col-xs-offset-3 col-xs-6 col-sm-offset-2 col-sm-4 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="rounded-x" src="~/Content/Pieter.jpg" alt="">
                        <ul>
                            <li><a href="Http://www.facebook.com"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <h3>Pieter Greeff</h3>
                    <h4>/ Ejer</h4>
                    <p>Mobil: +45 60 18 97 92 <br> E-mail: pg@montpro.dk</p>

                </li>
                <li class="col-xs-offset-3 col-sm-offset-0 col-xs-6 col-sm-4 md-margin-bottom-30">
                    <div class="team-img">
                        <img class="rounded-x" src="~/Content/Brumar.jpg" alt="">
                        <ul>
                            <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <h3>Sergiu Brumar</h3>
                    <h4>/ Forretningskonsulent</h4>
                    <p>Mobil: +45 29 87 37 29 <br>E-mail: sb@montpro.dk</p>
                </li>
                @*<li class="col-sm-4 col-xs-4">
                        <div class="team-img">
                            <img class="img-responsive" src="~/Content/Talnaci_.jpg" alt="">
                            <ul>
                                <li><a href="#"><i class="icon-custom icon-sm rounded-x fa fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <h3>Sergiu Talnaci</h3>
                        <h4>/ Software Developer</h4>
                        <p>Best software developer in the world</p>
                    </li>*@

            </ul>
        </div>
    </div>

</section>
<!--  About Section -->
<!-- Contact Section -->
<section id="contact" class="contacts-section">
    <div class="container content-lg">
        <div class="title-v1">
            <h2>Kontakt os</h2>
            <p>
                For mere information ring eller skriv til os.
            </p>
        </div>

        <div class="row contacts-in">
            <div class="col-md-6 md-margin-bottom-40">
                <ul class="list-unstyled">
                    <li><i class="fa fa-home"></i> Havtornsvej 14A, 8200 Aarhus N </li>
                    <li><i class="fa fa-phone"></i> +45 29 87 37 29 </li>
                    <li><i class="fa fa-envelope"></i>sb@montpro.dk</li>

                </ul>
            </div>

            <div class="col-md-6">
                <form>
                    <label>Dit navn <span class="color-red" id="nameError" style="display:none">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" id="txtName">
                        </div>
                    </div>

                    <label>Din e-mail adresse <span class="color-red" id="emailError" style="display:none">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-7 col-md-offset-0">
                            <input type="text" class="form-control" id="txtEmail">
                        </div>
                    </div>

                    <label>Din besked <span class="color-red" id="messageError" style="display:none">*</span></label>
                    <div class="row margin-bottom-20">
                        <div class="col-md-11 col-md-offset-0">
                            <textarea rows="8" class="form-control" id="txtMessage"></textarea>
                        </div>
                    </div>

                    <p><button type="submit" class="btn-u btn-brd btn-brd-hover btn-u-dark" onclick="sendMessage()">Send besked</button></p>
                </form>
            </div>
        </div>
    </div>

    <div class="copyright-section">
        <p>MontPro ApS CVR 35106766 <br> Copyright © 2016 MontPro ApS</p>
        @*<ul class="social-icons">
                <li><a href="#" data-original-title="Facebook" class="social_facebook rounded-x"></a></li>
                <li><a href="#" data-original-title="Twitter" class="social_twitter rounded-x"></a></li>
                <li><a href="#" data-original-title="Goole Plus" class="social_googleplus rounded-x"></a></li>
                <li><a href="#" data-original-title="Pinterest" class="social_pintrest rounded-x"></a></li>
                <li><a href="#" data-original-title="Linkedin" class="social_linkedin rounded-x"></a></li>
            </ul>*@
        <span class="page-scroll"><a href="#intro"><i class="fa fa-angle-double-up back-to-top"></i></a></span>
    </div>
</section>
<!-- End Contact Section -->
