/* Add here all your css styles (customizations) */
.navbar-brand span {
    color: dodgerblue !important;
}

.black {
    color: black !important;
}

.orange {
    color: orange !important;
}

.darkcyan {
    color: darkcyan;
}

li .page-scroll .active a {
    background-color: black !important;
}
.bg-custom { 
    background-image: url("/assets/img/sliders/revolution/Reol-02.jpeg");
}
.margin-top-100 {
    margin-top:100px;
}
/*The M for montpro*/
