
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Brumar.DK - Edit Texts</title>
</head>
<body>
    <div> 
        <p>
            @Html.ActionLink("Edit Danish text", "Danish")

        </p>
        <p>
            @Html.ActionLink("Edit English text", "English")
        </p>
    </div>
</body>
</html>
